<a href="https://colab.research.google.com/github/ryoma0415/python-excel-kadai/blob/main/python_excel_kadai1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import and setting
import openpyxl
from datetime import datetime

wb = openpyxl.Workbook()
ws = wb.active

today = datetime.today()
data = [
    ['Product Name', 'Quantity', 'Unit Price', 'Total'],
    ['Product A', 2, 10000, 20000],
    ['Product B', 1, 15000, 15000]
]

# write in sheet
ws['B2'].value = 'Bill'
ws['B4'].value = '株式会社ABC'
ws['B5'].value = '〒101-0022 東京都千代田区神田練塀町300'
ws['B6'].value = 'TEL:03-1234-5678 FAX:03-1234-5678'
ws['B7'].value = '担当者名:鈴木一郎 様'
ws['F4'].value = 'No.'
ws['G4'].value = '0001'
ws['F5'].value = 'Date'
ws['G5'].value = today.strftime('%Y/%m/%d')
ws['E13'].value = 35000
ws['B15'].value = 'Total'
ws['E15'].value = 35000
ws['B16'].value = 'Tax'
ws['E16'].value = 3500
ws['B17'].value = 'Tax add'
ws['E17'].value = 38500


list_rows = [
    ['B10', 'C10', 'D10', 'E10'],
    ['B11', 'C11', 'D11', 'E11'],
    ['B12', 'C12', 'D12', 'E12']
]

for i in range(3):
  # ws[list_rows[i]].value = data[0][i]
  for j in range(4):
    ws[list_rows[i][j]].value = data[i][j]

wb.save(f"Bill_{today.strftime('%Y%m%d')}.xlsx")




#start_row = 10
#start_col = 2

#for i, row in enumerate(data):
#    for j, value in enumerate(row):
#        ws.cell(row=start_row + i, column=start_col + j).value = value

In [ ]:
list_rows = ["B10","B11","B12"]